<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<style>

body{
background:#0d1117;
color:white;
font-family:Arial;
text-align:center;
}

nav{
margin:20px;
}

nav a{
color:cyan;
margin:15px;
text-decoration:none;
font-size:20px;
font-weight:bold;
}

.card{
display:inline-block;
width:250px;
height:150px;
background:#161b22;
margin:20px;
border-radius:15px;
box-shadow:0 0 15px cyan;
}

.card h2{
margin-top:35px;
}

.card h1{
color:cyan;
}

</style>
</head>

<body>
<nav>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('analysis') }}">Insider Analysis</a>
    <a href="{{ url_for('history') }}">Threat History</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</nav>

<h1>AI SOC Dashboard</h1>

<div class="card">
<h2>Total Records</h2>
<h1>{{ total }}</h1>
</div>

<div class="card">
<h2>Suspicious</h2>
<h1>{{ suspicious }}</h1>
</div>

<div class="card">
<h2>Normal</h2>
<h1>{{ normal }}</h1>
</div>

</body>
</html>